* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #e60b99;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box {
  background-color: #ff80d9;
  width: 140px;
  height: 70px;
  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

main {
  width: 100%;
  background-color: #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  background-color: #d6f7a1;
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.main-item {
  background-color: #0d8511;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.main-item > div {
  background-color: #fcff4d;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  background-color: #2187ed;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  background-color: #58c6f5;
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
}

